
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* ------------------ MBA Container ------------------ */
.mba-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 130px;
    margin-top: 80px;
    margin-bottom: 80px;
}
@media (max-width: 1024px){
    .mba-container{
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (max-width: 800px){
    .mba-container{
        width: 100%;
        margin: 0;
        padding: 0 16px;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }
}

/* ------------------ MBA Info ------------------ */
.mba-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* MBA Title */
.mba-title{
    width: 100%;
    max-width: 1132px;
    height: auto;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 50px;
}
@media (max-width: 800px){
    .mba-title{
        width: 100%;
        max-width: 323px;
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
        text-align: left;
        margin-bottom: 2px;
        margin-top: 90px;
    }
}

/* Description */
.description{
    width: 100%;
    max-width: 1132px;
    height: auto;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 50px;
}
@media (max-width: 800px){
    .description{
       width: 100%;
       max-width: 324px;
       font-size: 12px;
       line-height: 18px;
       margin-bottom: 2px;
    }
}

/* Modules Info Desktop */
.modules-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1132px;
    height: 40px;
    gap: 24px;
}

/* MBA Rate */
.mba-rate{
    display: flex;
    flex-direction: row;
    width: 127px;
    height: 40px;
    gap: 8px;
}
.mba-rate svg { margin-left: 0px; }
.mba-rate p{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 2px;
}
.mba-rate p span{
    font-size: 14px;
    line-height: 21px;
}


.session, .mba-duration, .mba-location, .mba-calender{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.session p, .mba-duration p, .mba-location p, .mba-calender p{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-top: 2px;
}

/* Mobile Modules Info */
.modules-info-mobile{
    display: none;
}
@media (max-width: 800px){
    .modules-info{ display: none; }
    .mba-calender{ display: none; }
    .modules-info-mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 324px;
        height: auto;
        gap: 12px;
        align-items: flex-start;
    }
}

/* Module Content */
.module-content{
    flex: 1;
    padding: 20px;
}
@media (max-width: 800px){
    .module-content{
        width: 100%;
        max-width: 336px;
        height: auto;
        gap: 18px;
    }
}

/* Module Titles */
.mod-title{
    width: 100%;
    max-width: 816px;
    height: auto;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 100px;
}
@media (max-width: 800px){
    .mod-title{
        width: 100%;
        max-width: 228px;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
    }
}

/* Module List */
.module-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width: 800px){
    .module-list{
        width: 100%;
        max-width: 336px;
        gap: 24px;
    }
}
.module{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Course Header & Details */
.course-header{
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 28px;
}
.course-header li{
    height: 42px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 10px;
    transition: margin-bottom 0.3s ease;
}
.course-header.open li{
    margin-bottom: 20px;
}
.course-header.open .toggle-icon{
  transform: rotate(-180deg);
}
.course-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: visible;
    transition: height 0.3s ease;
    gap: 20px;
    margin-left: 100px;
    margin-top: 20px;
}
@media (max-width: 800px){
    .course-header{
        width: 100%;
        max-width: 336px;
        height: 27px;
        gap: 8px;
    }
    .course-header li{
        width: 100%;
        max-width: 296px;
        font-size: 18px;
        line-height: 27px;
    }
    .course-details{
        width: 100%;
        max-width: 288px;
        margin-left: 0;
        gap: 12px;
    }
}

/* Hour & Instructor */
.hour-instructor, .time, .instucrt, .component{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.hour-instructor p, .time p, .instucrt p, .component li{
    font-size: 22px;
    line-height: 33px;
}
@media (max-width: 800px){
    .hour-instructor, .time, .instucrt, .component{
        width: 100%;
        gap: 8px;
    }
    .time p, .instucrt p, .component li{
        font-size: 14px;
        line-height: 21px;
    }
}

/* Delivery */
.delivery{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1249px;
    height: auto;
    gap: 8px;
    margin-top: 20px;
}
.delivery p{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}
.delivery p span{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
@media (max-width: 800px){
    .delivery{
        max-width: 350px;
        height: auto;
        gap: 8px;
    }
    .delivery p{
        font-size: 18px;
        line-height: 20px;
    }
    .delivery p span{
        font-size: 14px;
        line-height: 16px;
    }
}

/* Enroll Button */
.mba-enroll-button{
    width: 100%;
    max-width: 1249px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.mba-button{
    width: 200px;
    height: 50px;
    border: 1px solid rgba(1, 75, 156, 1);
    border-radius: 15px;
    padding: 8px 38px;
    background-color: rgba(1, 75, 156, 1);
    font-family: 'poppins';
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
}
@media (max-width: 800px){
    .mba-enroll-button{
        max-width: 324px;
        height: auto;
        margin-top: 2px;
    }
    .mba-button{
        width: 150px;
        height: 44px;
        font-size: 22px;
        line-height: 33px;
        border-radius: 10px;
    }
}

/* Comment Section */
.comment-sec{
    width: 100%;
    max-width: 1249px;
    padding: 20px;
}
.comment-title{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.mba-img-comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1249px;
    gap: 10px;
}
.image{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 50px;
}
.image img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.comment{
    width: 100%;
    max-width: 1191px;
    border-radius: 10px;
    background-color: rgba(235, 241, 251, 1);
    padding: 16px;
    gap: 8px;
}
.comment p{
    font-size: 26px;
    line-height: 30px;
}
.comment span{
    font-size: 22px;
    line-height: 25px;
}
@media (max-width: 800px){
    .comment-sec{
        max-width: 324px;
        gap: 16px;
    }
    .comment-title{
        font-size: 24px;
        line-height: 36px;
    }
    .image{
        max-width: 324px;
        gap: 8px;
    }
    .image img{
        width: 40px;
        height: 40px;
    }
    .comment{
        max-width: 276px;
    }
    .comment p, .comment span{
        font-size: 14px;
        line-height: 21px;
    }
}

/* Popup */
.popup {
    width: 100%;
    max-width: 450px;
    padding: 24px 16px;
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}
@media (max-width: 800px){
    .popup{
        max-width: 250px;
        padding: 16px;
    }
    .popup h3{ font-size: 14px; line-height: 21px; }
    .popup p{ font-size: 12px; line-height: 18px; }
    .popup img{ height: 80px; width: auto; }
}
